{% extends 'tiger.html.twig' %}

{% block input %}

{% for question in question %}

    <div style="text-align: left; color: #d58512">

        <p>

        <ul>
            <li>{{ question.username }}</li>
            <li>{{ question.phonenumber }}</li>
            <li>{{ question.mail }}</li>
            <li>{{ question.subject }}</li>
        </ul>

    </div>

{% endfor %}
{% endblock %}