{% extends 'tiger.html.twig' %}

{% block input %}

    <div style="text-align: left">
        <h1> <p>У Вас сломался любимый ноутбук? Мы можем помочь Вам.</p></h1>
        <p><h2>Перечень базовых услуг:</h2></p>

        <ol>
            <li>Компонентный ремонт комплектующих ноутбука.</li>
            <li>Чистка и смена термоинтерфейсов.</li>
            <li>Замена и ремонт матрици.</li>
            <li>Установка О.С., драйверов и програмного обеспечения.</li>
            <li>Востановление информации с жесткого диска.</li>

        </ol>

    </div>

{% endblock %}