{% extends 'tiger.html.twig' %}

{% block input %}

    <div style="text-align: left">
        <h1> <p>У Вас сломался любимый компьютер? Мы можем помочь Вам.</p></h1>
        <p><h2>Перечень базовых услуг:</h2></p>
        <ol>
            <li>Установка О.С., драйверов и программ.</li>
            <li>Компонентный ремонт узлов ПК.</li>
            <li>Восстановление информации на жестком диске.</li>
            <li>Модернизация системного блока.</li>
            <li>Чистка ПК и замена термоинтерфейсов.</li>
            <li>Апгрейд ПК.</li>
            <li>и многое другое.</li>
        </ol>

    </div>

{% endblock %}